<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindWise | Explore</title>
    <link rel="stylesheet" href="styles/explore.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet"> 
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
      <div class="navbar-left">
          <div class="logo"> <img src="images/img/bed66fc55b7dcc5eb23bf385bdf7401a.png" style="width: 30px; height: 30px; border-radius: 50%;" alt=""> </div>
          <div class="nav-logo" style="font-family: 'Caveat'; font-size: 24px;">MindWise</div>
          <div class="nav-item"><a href="">Home</a></div>
          <div class="nav-item"><a href="/explore">Explore</a></div>
          <div class="dropdown nav-item">
              <a href=""><button class="dropbtn">Services</button></a>
              <div class="dropdown-content">
                <a href="/chatbot">ChatBot</a>
                <a href="/survey">Survey</a>
            </div>
          </div>
          <div class="nav-item"><a href="/analytics">Analytics</a></div>
      </div>
      <div class="navbar-right">
          <div class="search-bar"><input type="search" placeholder="Search" name="Seacrch" id="search-area"><i class="fa-solid fa-magnifying-glass"></i></div>
          <div class="notification-icon"><i class="fa-solid fa-bell" style="margin-right: 10px;"></i></div>
          <div class="profile-icon"><a href="/login"><img src="images/img/bed66fc55b7dcc5eb23bf385bdf7401a.png" alt=""></a></div>
      </div>
  </nav>
  <hr>


    <div class="banner">
        <img class="banner-img" src="https://img.freepik.com/free-vector/flat-twitter-header-template-world-mental-health-day_23-2150740751.jpg" alt="">
    </div>
    



    <div class="explore-yoga">
        <h1>Yoga</h1>
        <div class="wrapper">
            <section id="section1">
                <a href="#section2" class="arrow__btn">‹</a>
                <div class="item">
                    <a href="#img1">
                        <img src="images/images/yoga1.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="#img2">
                        <img src="images/images/yoga2.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="#img3">
                        <img src="images/images/yoga3.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="#img4">
                        <img src="images/images/yoga4.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="#img5">
                        <img src="images/images/yoga5.jpg">
                    </a>
                  </div>
                <a href="#section2" class="arrow__btn">›</a>
            </section>
            <section id="section2">
                <a href="#section1" class="arrow__btn">‹</a>
                <div class="item">
                    <a href="#img1">
                        <img src="images/images/yoga1.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="#img2">
                        <img src="images/images/yoga2.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="#img3">
                        <img src="images/images/yoga3.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="#img4">
                        <img src="images/images/yoga4.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="#img5">
                        <img src="images/images/yoga5.jpg">
                    </a>
                  </div>
                <a href="#section1" class="arrow__btn">›</a>
            </section>
        </div>
    </div>


    <div class="explore-yoga">
        <h1>Podcast</h1>
        <div class="wrapper">
            <section id="section3">
                <a href="#section4" class="arrow__btn">‹</a>
                <div class="item">
                    <a href="#img6">
                        <img src="images/images/podcast1.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="#img7">
                        <img src="images/images/podcast2.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="#img8">
                        <img src="images/images/podcast3.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="#img9">
                        <img src="images/images/podcast4.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="#img10">
                        <img src="images/images/podcast5.jpg">
                    </a>
                  </div>
                <a href="#section4" class="arrow__btn">›</a>
            </section>
            <section id="section4">
                <a href="#section3" class="arrow__btn">‹</a>
                <div class="item">
                    <a href="#img6">
                        <img src="images/images/podcast1.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="#img7">
                        <img src="images/images/podcast2.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="#img8">
                        <img src="images/images/podcast3.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="#img9">
                        <img src="images/images/podcast4.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="#img10">
                        <img src="images/images/podcast5.jpg">
                    </a>
                  </div>
                <a href="#section3" class="arrow__btn">›</a>
            </section>
        </div>
    </div>


    <div class="explore-yoga">
        <h1>Meditation</h1>
        <div class="wrapper">
            <section id="section5">
                <a href="#section6" class="arrow__btn">‹</a>
                <div class="item">
                    <a href="#img11">
                        <img src="images/images/meditate1.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="#img12">
                        <img src="images/images/meditate2.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="#img13">
                        <img src="images/images/meditate3.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="#img14">
                        <img src="images/images/meditate4.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="#img15">
                        <img src="images/images/meditate5.jpg">
                    </a>
                  </div>
                <a href="#section6" class="arrow__btn">›</a>
            </section>
            <section id="section6">
                <a href="#section5" class="arrow__btn">‹</a>
                <div class="item">
                    <a href="#img11">
                        <img src="images/images/meditate1.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="#img12">
                        <img src="images/images/meditate2.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="#img13">
                        <img src="images/images/meditate3.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="#img14">
                        <img src="images/images/meditate4.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="#img15">
                        <img src="images/images/meditate5.jpg">
                    </a>
                  </div>
                <a href="#section5" class="arrow__btn">›</a>
            </section>
        </div>
    </div>


    <div class="explore-yoga">
        <h1>Ted-Talks</h1>
        <div class="wrapper">
            <section id="section7">
                <a href="#section8" class="arrow__btn">‹</a>
                <div class="item">
                    <a href="#img16">
                        <img src="images/images/tedex1.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="#img17">
                        <img src="images/images/tedex2.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="#img18">
                        <img src="images/images/tedex3.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="#img19">
                        <img src="images/images/tedex4.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="#img20">
                        <img src="images/images/tedex5.jpg">
                    </a>
                  </div>
                <a href="#section8" class="arrow__btn">›</a>
            </section>
            <section id="section8">
                <a href="#section7" class="arrow__btn">‹</a>
                <div class="item">
                    <a href="#img16">
                        <img src="images/images/tedex1.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="#img17">
                        <img src="images/images/tedex2.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="#img18">
                        <img src="images/images/tedex3.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="#img19">
                        <img src="images/images/tedex4.jpg">
                    </a>
                  </div>
                  <div class="item">
                    <a href="#img20">
                        <img src="images/images/tedex5.jpg">
                    </a>
                  </div>

                <a href="#section7" class="arrow__btn">›</a>
            </section>
        </div>
    </div>



    <a href="#section1" class="lightbox" id="img1">
        <div id="videoModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="false" style="display: block;">
          <div class="modal-header">
            <button type="button" class="close full-height" data-dismiss="modal" aria-hidden="true">X</button>
          </div>
          <div class="modal-body">
            <iframe width="870" height="489" src="https://www.youtube.com/embed/FdyhENXyIQ4?si=qxKRXzvujyyYATD6" allow="autoplay; fullscreen; picture-in-picture; xr-spatial-tracking; clipboard-write"></iframe>
          </div>
          <div class="modal-footer"></div>
        </div>

    <a href="#section1" class="lightbox" id="img2">
        <div id="videoModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="false" style="display: block;">
          <div class="modal-header">
            <button type="button" class="close full-height" data-dismiss="modal" aria-hidden="true">X</button>
          </div>
          <div class="modal-body">
            <iframe width="870" height="489" src="https://www.youtube.com/embed/-u0s-hkW6us?si=sox-XNb4Y3TYMyb2" allow="autoplay; fullscreen; picture-in-picture; xr-spatial-tracking; clipboard-write"></iframe>
          </div>
          <div class="modal-footer"></div>
        </div>

        <a href="#section1" class="lightbox" id="img3">
            <div id="videoModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="false" style="display: block;">
              <div class="modal-header">
                <button type="button" class="close full-height" data-dismiss="modal" aria-hidden="true">X</button>
              </div>
              <div class="modal-body">
                <iframe width="870" height="489" src="https://www.youtube.com/embed/FyFUowFFYC4?si=NI9UBQ6vcZj0O_85" allow="autoplay; fullscreen; picture-in-picture; xr-spatial-tracking; clipboard-write"></iframe>
              </div>
              <div class="modal-footer"></div>
            </div>

            <a href="#section1" class="lightbox" id="img4">
                <div id="videoModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="false" style="display: block;">
                  <div class="modal-header">
                    <button type="button" class="close full-height" data-dismiss="modal" aria-hidden="true">X</button>
                  </div>
                  <div class="modal-body">
                    <iframe width="870" height="489" src="https://www.youtube.com/embed/ncgz1z7-qx4?si=tSA7ESXGNc_FkDOZ" allow="autoplay; fullscreen; picture-in-picture; xr-spatial-tracking; clipboard-write"></iframe>
                  </div>
                  <div class="modal-footer"></div>
                </div>

            <a href="#section1" class="lightbox" id="img5">
                <div id="videoModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="false" style="display: block;">
                    <div class="modal-header">
                        <button type="button" class="close full-height" data-dismiss="modal" aria-hidden="true">X</button>
                      </div>
                      <div class="modal-body">
                        <iframe width="870" height="489" src="https://www.youtube.com/embed/S9-00Cs7cuI?si=rkNd8jZtxqsQPzbJ" allow="autoplay; fullscreen; picture-in-picture; xr-spatial-tracking; clipboard-write"></iframe>                      
                      </div>
                      <div class="modal-footer"></div>
                </div>



            

                <a href="#section3" class="lightbox" id="img6">
                <div id="videoModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="false" style="display: block;">
                  <div class="modal-header">
                    <button type="button" class="close full-height" data-dismiss="modal" aria-hidden="true">X</button>
                  </div>
                  <div class="modal-body">
                    <iframe width="870" height="489" src="https://www.youtube.com/embed/CJIXbibQ0jI?si=A87yu_8FQGq1l3HW" allow="autoplay; fullscreen; picture-in-picture; xr-spatial-tracking; clipboard-write"></iframe>
                  </div>
                  <div class="modal-footer"></div>
                </div>
        
            <a href="#section3" class="lightbox" id="img7">
                <div id="videoModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="false" style="display: block;">
                  <div class="modal-header">
                    <button type="button" class="close full-height" data-dismiss="modal" aria-hidden="true">X</button>
                  </div>
                  <div class="modal-body">
                    <iframe width="870" height="489" src="https://www.youtube.com/embed/qPKd99Pa2iU?si=echOKVhZr2xTFBQ9" allow="autoplay; fullscreen; picture-in-picture; xr-spatial-tracking; clipboard-write"></iframe>
                  </div>
                  <div class="modal-footer"></div>
                </div>
        
                <a href="#section3" class="lightbox" id="img8">
                    <div id="videoModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="false" style="display: block;">
                      <div class="modal-header">
                        <button type="button" class="close full-height" data-dismiss="modal" aria-hidden="true">X</button>
                      </div>
                      <div class="modal-body">
                        <iframe width="870" height="489" src="https://www.youtube.com/embed/tLRCS48Ens4?si=3S9FdLvZIAxZF1vc" allow="autoplay; fullscreen; picture-in-picture; xr-spatial-tracking; clipboard-write"></iframe>
                      </div>
                      <div class="modal-footer"></div>
                    </div>
        
                    <a href="#section3" class="lightbox" id="img9">
                        <div id="videoModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="false" style="display: block;">
                          <div class="modal-header">
                            <button type="button" class="close full-height" data-dismiss="modal" aria-hidden="true">X</button>
                          </div>
                          <div class="modal-body">
                            <iframe width="870" height="489" src="https://www.youtube.com/embed/xjEFo3a1AnI?si=hmLwVM5mPp2caq7c" allow="autoplay; fullscreen; picture-in-picture; xr-spatial-tracking; clipboard-write"></iframe>
                          </div>
                          <div class="modal-footer"></div>
                        </div>
        
                    <a href="#section3" class="lightbox" id="img10">
                        <div id="videoModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="false" style="display: block;">
                            <div class="modal-header">
                                <button type="button" class="close full-height" data-dismiss="modal" aria-hidden="true">X</button>
                              </div>
                              <div class="modal-body">
                                <iframe width="870" height="489" src="https://www.youtube.com/embed/yOJvm_ri_hk?si=k3D7z0Rhjctn6fmV" allow="autoplay; fullscreen; picture-in-picture; xr-spatial-tracking; clipboard-write"></iframe>                      
                              </div>
                            <div class="modal-footer"></div>
                        </div>




                    <a href="#section3" class="lightbox" id="img11">
                        <div id="videoModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="false" style="display: block;">
                          <div class="modal-header">
                            <button type="button" class="close full-height" data-dismiss="modal" aria-hidden="true">X</button>
                          </div>
                          <div class="modal-body">
                            <iframe width="870" height="489" src="https://www.youtube.com/embed/O-6f5wQXSu8?si=SRUpSLts_KOKU7C7" allow="autoplay; fullscreen; picture-in-picture; xr-spatial-tracking; clipboard-write"></iframe>
                          </div>
                          <div class="modal-footer"></div>
                        </div>
                
                    <a href="#section3" class="lightbox" id="img12">
                        <div id="videoModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="false" style="display: block;">
                          <div class="modal-header">
                            <button type="button" class="close full-height" data-dismiss="modal" aria-hidden="true">X</button>
                          </div>
                          <div class="modal-body">
                            <iframe width="870" height="489" src="https://www.youtube.com/embed/aEqlQvczMJQ?si=lSOU67G2OLiMZN72" allow="autoplay; fullscreen; picture-in-picture; xr-spatial-tracking; clipboard-write"></iframe>
                          </div>
                          <div class="modal-footer"></div>
                        </div>
                
                        <a href="#section3" class="lightbox" id="img13">
                            <div id="videoModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="false" style="display: block;">
                              <div class="modal-header">
                                <button type="button" class="close full-height" data-dismiss="modal" aria-hidden="true">X</button>
                              </div>
                              <div class="modal-body">
                                <iframe width="870" height="489" src="https://www.youtube.com/embed/inpok4MKVLM?si=O2p97jEZFbBQtbg6" allow="autoplay; fullscreen; picture-in-picture; xr-spatial-tracking; clipboard-write"></iframe>
                              </div>
                              <div class="modal-footer"></div>
                            </div>
                
                            <a href="#section3" class="lightbox" id="img14">
                                <div id="videoModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="false" style="display: block;">
                                  <div class="modal-header">
                                    <button type="button" class="close full-height" data-dismiss="modal" aria-hidden="true">X</button>
                                  </div>
                                  <div class="modal-body">
                                    <iframe width="870" height="489" src="https://www.youtube.com/embed/itZMM5gCboo?si=RAXxSN7fUV5s4Gwz" allow="autoplay; fullscreen; picture-in-picture; xr-spatial-tracking; clipboard-write"></iframe>
                                  </div>
                                  <div class="modal-footer"></div>
                                </div>
                
                            <a href="#section3" class="lightbox" id="img15">
                                <div id="videoModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="false" style="display: block;">
                                    <div class="modal-header">
                                        <button type="button" class="close full-height" data-dismiss="modal" aria-hidden="true">X</button>
                                      </div>
                                      <div class="modal-body">
                                        <iframe width="870" height="489" src="https://www.youtube.com/embed/U9YKY7fdwyg?si=F5WW1Wg-nsisaR-r" allow="autoplay; fullscreen; picture-in-picture; xr-spatial-tracking; clipboard-write"></iframe>                      
                                      </div>
                                    <div class="modal-footer"></div>
                            </div>




                            <a href="#section5" class="lightbox" id="img16">
                                <div id="videoModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="false" style="display: block;">
                                  <div class="modal-header">
                                    <button type="button" class="close full-height" data-dismiss="modal" aria-hidden="true">X</button>
                                  </div>
                                  <div class="modal-body">
                                    <iframe width="870" height="489" src="https://www.youtube.com/embed/5MuIMqhT8DM?si=1H0hhk4xb4374HeL" allow="autoplay; fullscreen; picture-in-picture; xr-spatial-tracking; clipboard-write"></iframe>
                                  </div>
                                  <div class="modal-footer"></div>
                                </div>
                        
                            <a href="#section5" class="lightbox" id="img17">
                                <div id="videoModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="false" style="display: block;">
                                  <div class="modal-header">
                                    <button type="button" class="close full-height" data-dismiss="modal" aria-hidden="true">X</button>
                                  </div>
                                  <div class="modal-body">
                                    <iframe width="870" height="489" src="https://www.youtube.com/embed/5MuIMqhT8DM?si=1H0hhk4xb4374HeL" allow="autoplay; fullscreen; picture-in-picture; xr-spatial-tracking; clipboard-write"></iframe>
                                  </div>
                                  <div class="modal-footer"></div>
                                </div>
                        
                                <a href="#section5" class="lightbox" id="img18">
                                    <div id="videoModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="false" style="display: block;">
                                      <div class="modal-header">
                                        <button type="button" class="close full-height" data-dismiss="modal" aria-hidden="true">X</button>
                                      </div>
                                      <div class="modal-body">
                                        <iframe width="870" height="489" src="https://www.youtube.com/embed/5MuIMqhT8DM?si=1H0hhk4xb4374HeL" allow="autoplay; fullscreen; picture-in-picture; xr-spatial-tracking; clipboard-write"></iframe>
                                      </div>
                                      <div class="modal-footer"></div>
                                    </div>
                        
                                    <a href="#section5" class="lightbox" id="img19">
                                        <div id="videoModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="false" style="display: block;">
                                          <div class="modal-header">
                                            <button type="button" class="close full-height" data-dismiss="modal" aria-hidden="true">X</button>
                                          </div>
                                          <div class="modal-body">
                                            <iframe width="870" height="489" src="https://www.youtube.com/embed/5MuIMqhT8DM?si=1H0hhk4xb4374HeL" allow="autoplay; fullscreen; picture-in-picture; xr-spatial-tracking; clipboard-write"></iframe>
                                          </div>
                                          <div class="modal-footer"></div>
                                        </div>
                        
                                    <a href="#section5" class="lightbox" id="img20">
                                        <div id="videoModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="false" style="display: block;">
                                            <div class="modal-header">
                                                <button type="button" class="close full-height" data-dismiss="modal" aria-hidden="true">X</button>
                                              </div>
                                              <div class="modal-body">
                                                <iframe width="870" height="489" src="https://www.youtube.com/embed/5MuIMqhT8DM?si=1H0hhk4xb4374HeL" allow="autoplay; fullscreen; picture-in-picture; xr-spatial-tracking; clipboard-write"></iframe>                      
                                              </div>
                                              <div class="modal-footer"></div>
                                        </div>
        





    <footer>
        <div class="footer">
        <div class="row">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        </div>
        
        <div class="row">
        <ul>
        <li><a href="/">Contact us</a></li>
        <li><a href="/chatbot">Our Services</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Career</a></li>
        </ul>
        </div>
        
        <div class="row">
        MindWise Copyright © 2024 DEXTERIX - All rights reserved || Designed By: Hope-Tech 
        </div>
        </div>
        </footer>

        <script>(function(w, d) { w.CollectId = "652cd653b8a0d51225e59845"; var h = d.head || d.getElementsByTagName("head")[0]; var s = d.createElement("script"); s.setAttribute("type", "text/javascript"); s.async=true; s.setAttribute("src", "https://collectcdn.com/launcher.js"); h.appendChild(s); })(window, document);</script>
        <script src="https://kit.fontawesome.com/abbae87c93.js" crossorigin="anonymous"></script>
</body>

<!-- <script src="explore.js"></script> -->
</html>